@media screen and ((max-width: 500px) or (max-device-width:500px)){
    body{
        font-size: 3vw;
    }

    h2{
        font-size: 4vw;
    }

    h3{
        font-size: 3.8vw;
    }

    .flex_r_s_s{
        flex-direction: column-reverse;
        justify-content: end;
    }

    .side_content{
        min-height: 10vh;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .side_content h2{
        margin: auto 0 auto 0;
    }

    .side_content div{
        margin-left: 0;
        margin-top: -10%;
    }

    .side_content img{
        width: 25vw; 
        height: 25vw; 
        object-fit: cover; 
        border: 5px solid black; 
        border-radius: 200px;
    }

    .main_content{
        min-height: 90vh;
    }

    .text_content{
        width: 100%;
        right: 0; 
        padding-top: 1em;
    }

    .carousel_box{
        width: 100%;
    }
}