@font-face {
    font-family: Roboto_l;
    src: url(Items/Roboto/Roboto-Light.ttf) format("truetype");
}

@font-face {
    font-family: Roboto_w;
    src: url(Items/Roboto/Roboto-Black.ttf) format("truetype");
}

body{
    min-height: 100vh;
    font-family: Roboto_l;
    font-size: 1.5vw;
    background-color: beige;
}

h2{
    font-size: 2.5vw;
}

h3{
    margin-top: 2%;
    font-weight: bold;
    font-size: 3vw;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 1% 0 1%;
    width: fit-content;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    font-size: larger;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.carousel-control-next, .carousel-control-prev {
    top: 4%;
    bottom: 20%;
}

.nav{
    align-items: flex-end;
    flex-wrap: nowrap;
}

.nav-tabs{
    border-color: black;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: black;
    border-color: black;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: black;
    color: white;
    border-color: black;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-link{
    border-radius: 0;
    text-shadow:      
     0.1em  0.1em 0 gold,
    -0.05em -0.05em 0 gold,  
    0.05em -0.05em 0 gold,
    -0.05em  0.05em 0 gold,
    0.05em  0.05em 0 gold;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.flex_r_s_s{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: stretch;
}

.side_content{
    z-index: 1;
    background-color: black;
    color: white;
}

.side_content h2{
    margin: 30px 0 30px 0;
    text-wrap: nowrap;
    text-align: center;
    font-family: Roboto_w; 
    width: 30vw;
}

.side_content div{
    margin-left: 60%;
    width: fit-content;
    height: fit-content;
}

.side_content img{
    width: 20vw; 
    height: 20vw; 
    object-fit: cover; 
    border: 5px solid black; 
    border-radius: 200px;
}

.main_content, .single_content{
    width: 100%;
    padding: 2em;
    background-color: lightskyblue;
    color: black;
}

.text_content{
    width:85%; 
    position: relative; 
    right: -15%; 
    padding-top: 1em;
}

.parent_box{
    min-width: 100vw; 
    min-height: 100vh; 
}

.media_c{
    width: 100%;
    height: 25em; 
    object-fit: cover; 
    border: solid black 1px;
}

.carousel{
    margin: auto;
    padding-top: 2%;
    min-height: 100vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel a{
    text-shadow:0.05em  0.05em 0 black,
                -0.05em -0.05em 0 black,  
                0.05em -0.05em 0 black,
                -0.05em  0.05em 0 black;
}

.carousel video, .carousel img{
    background-color: black;
    object-fit: contain;
}

.works{
    width: 100%; 
    height: 100%;
}
